

/* Reset de valores por defecto */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Saltos de linea puntuales por el texto */
.newLine{
    display: block;
}

a{
    color: white;
}

/* ======== Header Section ======== */

header{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: auto;
}

header>div{
    display: flex;
    align-items: center;
}

a.HeaderButtons{
    border: none;
    background-color: black;
    /* Esto está bien aquí??? o es mejor meter cada 'a' en un div y meter el padding al div */
    padding: 10px 18px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

a.Logo{
    font-size: 28px;
    padding: 0px;
}

a.Logo:hover{
    cursor: pointer;
}

a.HeaderButtonsHover:hover{
    color: #1ed760;
}

img.Logo{
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

p#SeparatorBar{
    color:white;
    padding: 10px 18px;
    font-size: 20px;
}

/* ======== Main Section ======== */

/* ======== Article ======== */

div.ArticleContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
    background-image: linear-gradient(RGB(213, 176, 180) 10%, RGB(18, 18, 18) 42%);
}

div.ArticleContent{
    padding: 40px;
}

h1.ArticleContent{
    font-size: 45px;
    color: white;
    text-shadow: 3px 3px 10px #333333;
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2.ArticleContent{
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-shadow: 3px 3px 10px #333333;
    text-align: justify;
}

button.ArticleContent{
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    padding: 15px 32px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

button.ArticleContent:hover{
    cursor: pointer;
    scale: 1.025;
}

button#PinkButton{
    background-color: RGB(255, 210, 215);
    color: black;
}

button#PinkButton:hover{
    background-color: RGB(255, 235, 238);
}

button#BlackButton{
    background-color: black;
    color: white;
    border: 1px solid white;
}

p.ArticleContent{
    color: white;
    font-size: 12px;
    text-shadow: 3px 3px 10px #333333;
    text-align: justify;
}

a.ArticleContent{
    color: white;
}

img#Monigote{
    width: 300px;
    height: 200px;
}

/* ======== Section 1 ======== */

section{
    background-color: RGB(18, 18, 18);
}

div.Section1Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

h2.Section1Content{
    font-size: 37px;
    margin: 0px;
    font-weight: bold;
}

h3.Section1Content{
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    color: white;
    text-shadow: 3px 3px 10px #333333;
    margin-top: 10px;
}

div.Section1Content{
    padding-top: 50px;
}

table{
    border-bottom: 1px solid white;
    /* Espacio entre las columnas */
    border-spacing: 0px;
}

th{
    color: white;
    text-align: left;
    line-height: 24px;
    width: 40%;
}

th.Column1{
    vertical-align: bottom;
    padding-bottom: 10px;
    padding-left: 10px;
}

th.Column2{
    padding-bottom: 40px;
    padding-left: 40px;
}

th.Column3{
    padding-bottom: 40px;
    padding-left: 10px;
}

td{
    color: white;
    border-top: 1px solid white;
    /* Decoracion del texto de las columnas */
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: white;
    /* Separación entre el subrayado y el texto */
    text-underline-offset: 4px;
    /* Separación entre las lineas del texto */
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

td.Column1{
    text-align: left;
    padding-left: 10px;
}

td.Column1:hover, td.Column2:hover{
    background-color: RGB(31, 31, 31);
}

td.Column3:hover{
    background-color: RGB(58, 58, 58);
}

img.RectLine{
    width: 45px;
    height: 25px;
}

img.Tick{
    width: 30px;
    height: 30px;
}

/* ======== Section 2 ======== */

div.Section2Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
}

h3.Section2Content{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.PaymentMethods{
    display: flex;
    align-items: stretch;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li.PaymentMethods{
    background-color: white;
    border-radius: 5px;
    margin: 4px;
    padding: 0px 4px;
}

img.PaymentMethods{
    width: 50px;
    padding-top: 4px;
}

img.PayPal{
    padding-top: 15px;
}

div.Section2Content{
    padding-top: 40px;
    display: flex;
    align-items: center;
}

h2.PremiumFeatures{
    text-align: center;
}

ul.PremiumFeatures{
    list-style-type: none;
}

li.PremiumFeatures{
    color: white;
}

li.PremiumFeatures::before{
    content: '✔';
    padding-right: 10px;
}

/* ======== Section 3 ======== */

div.Section3Container{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    padding-bottom: 120px;
}

div.Section3Content{
    background-color: RGB(36, 36, 36);
    padding: 280px 210px;
    border-radius: 8px;
    position: relative;
}

div.Section3Content:last-child{
    grid-column: 1 / span 3;
}

div.PlanTop{
    position: absolute;
    left: 0;
    top: -15px;
}

div.PlanContent{
    position: absolute;
    display: grid;
    grid-template-rows: 300px auto;
    width: 100%;
    left: 0;
    top: 40px;
}

div.DuoPlanContent{
    top: 0px;
    grid-template-rows: 345px auto;
}

p.PlanTopInfo{
    border-radius: 8px 0px;
    padding: 8px 16px;
    max-width: 200px;
    font-weight: bold;
}

p.IndividualPlanTop{
    background-color: RGB(255, 210, 215);
}

p.StudientsPlanTop{
    background-color: RGB(196, 177, 212);
}

img.IndividualPlanContent{
    width: 32px;
}

ul.Premium{
    list-style-type: none;
    padding-left: 10px;
}

li.Premium{
    color: white;
    display: flex;
    align-items: center;
}

li.Premium::before{
    content: "";
    display: inline-block;
    background-image: url('assets/spotify.png');
    background-size: contain; 
    width: 40px;  
    height: 40px; 
}

p.PlanContent{
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
    color: white;
    font-weight: 600;
    margin: 0px;
}

p.DuoPlanContent{
    padding-bottom: 20px;
}

h2.PlanContent{
    font-size: 35px;
    padding-left: 16px;
    margin: 0px;
}

h2.IndividualPlanContent{
    color: RGB(255, 210, 215);
}

h2.StudientsPlanContent{
    color: RGB(196, 177, 212);
}

h2.DuoPlanContent{
    color: RGB(255, 200, 98);
}

h2.FamiliarPlanContent{
    color: RGB(165, 187, 209);
}

p.PriceInfo{
    color: RGB(162, 165, 161);
    padding-top: 0px;
    font-weight: normal;
    font-size: 14px;
}

div.Separator{
    border-bottom: 1px solid RGB(162, 165, 161);
    margin-left: 16px;
    margin-top: 15px;
    width: 385px;
}

ul.PlanFeatures{
    margin-top: 25px;
    padding-left: 35px;
}

li.PlanFeatures{
    color: white;
    font-weight: 400;
    margin-bottom: 5px;
}

li.PlanFeatures:last-child{
    margin-bottom: 0px;
}

div.PlansButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.PlanContentButton{
    margin-right: 0px;
    width: 380px;
    height: 60px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
}

button.StudientsPlanContent{
    background-color:RGB(196, 177, 212);
}

button.DuoPlanContent{
    background-color: RGB(255, 200, 98)
}

button.FamiliarPlanContent{
    background-color: RGB(165, 187, 209);
}

p.FooterPlanInfo{
    color: RGB(162, 165, 161);
    text-align: center;
    margin: 0px;
    padding: 0px 24px;
    font-size: 14px;
}

a.FooterPlanInfo{
    color: RGB(162, 165, 161);
}

a.FooterPlanInfo:hover{
    font-weight: bold;
}

/* ======== Section 4 ======== */

div.Section4Container{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.Section4Content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.Questions{
    display: flex;
    justify-content: left;
    margin-top: 30px;
    width: 70%;
}


h3.Section4Content{
    color: white;
    font-size: 32px;
    margin-bottom: 0px;
}

h4.Section4Content{
    color: white;
    margin-bottom: 0px;
}

a.Section4Content{
    font-weight: normal;
}

a.Section4Content:hover{
    font-weight: bold;
}

ul.Section4Content{
    list-style-type: none;
    color: white;
    width: 100%;
}

li.Section4Content{
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid grey;
    text-wrap: none;
}

li.Section4Content:last-child{
    border-bottom: none;
}

li.Section4Content:hover{
    background-color: RGB(58, 58, 58);
}

li.Section4Content summary:hover{
    cursor: pointer;
    text-decoration: underline;
}

details[open] > summary::after {
    transform: rotate(180deg);
}

li:has(details[open]) {
    background-color: RGB(58, 58, 58);
}

details[open] > div{
    background-color: RGB(31, 31, 31);
    margin-top: 5px;
    padding: 1px 20px;
    border-radius: 10px;
}

summary{
    list-style: none;
}

summary::after{
    display: inline-flex;
    content: '';
    width: 18px;
    height: 10px;
    background: url(assets/arrow.png) no-repeat;
    margin-left: 1180px;
}

/* ======== Footer ======== */

footer{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    height: 600px;
}

div.LinksFooterContainer{
    display: grid;
    grid-template-columns: repeat(5, 160px);
    grid-template-rows: repeat(2, auto);
    column-gap: 30px;
    align-items: start;
    justify-items: start;
    margin-top: 100px;
}

div.LogoContainer{
    display: flex;
    align-items: center;
}

div.SocialMediaContainer{
    display: flex;
    margin-top: 100px;
}

div.SocialMedia{
    padding: 15px;
    margin: 0px 5px;
    background: RGB(34, 35, 38);
    border-radius: 100px;
    display: flex;
    align-items: center;
}

div.SocialMedia:hover{
    cursor: pointer;
}

div.SocialMedia:hover > img{
    background-color: #1ed760;
}

img.SocialMedia{
    width: 25px;
    background-color: white;
} 

img.LogoFooter{
    padding-left: 0px;
}

p.LinksFooter{
    margin-bottom: 20px;
    color: RGB(162, 165, 161);
    font-size: 14px;
    font-weight: bold;
}

div.LinksFooter{
    display: flex;
    flex-direction: column;
}

div.LinksFooterColumn2{
    grid-column: 2;
}

a.LinksFooter{
    text-decoration: none;
    margin-bottom: 20px;
}

a.LinksFooter:hover{
    color: #1ed760;
}

p.LinksFooterColumn3{
    grid-column: 3;
    grid-row: 1;
}

p.LinksFooterColumn4{
    grid-column: 4;
    grid-row: 1;
}

p.LinksFooterColumn5{
    grid-column: 5;
    grid-row: 1;
}