

/* Reset de valores por defecto */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Saltos de linea puntuales por el texto */
.newLine{
    display: block;
}

a{
    color: white;
}

/* ======== Header Section ======== */

header{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: auto;
}

header>div{
    display: flex;
    align-items: center;
}

a.HeaderButtons{
    border: none;
    background-color: black;
    /* Esto está bien aquí??? o es mejor meter cada 'a' en un div y meter el padding al div */
    padding: 10px 18px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

a.Logo{
    font-size: 28px;
    padding: 0px;
}

a.Logo:hover{
    cursor: pointer;
}

a.HeaderButtonsHover:hover{
    color: #1ed760;
}

img.Logo{
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

p#SeparatorBar{
    color:white;
    padding: 10px 18px;
    font-size: 20px;
}

/* ======== Main Section ======== */

/* ======== Article ======== */

div.ArticleContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
    background-image: linear-gradient(RGB(213, 176, 180) 10%, RGB(18, 18, 18) 42%);
}

div.ArticleContent{
    padding: 40px;
}

h1.ArticleContent{
    font-size: 45px;
    color: white;
    text-shadow: 3px 3px 10px #333333;
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2.ArticleContent{
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-shadow: 3px 3px 10px #333333;
    text-align: justify;
}

button.ArticleContent{
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    padding: 15px 32px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

button.ArticleContent:hover{
    cursor: pointer;
    scale: 1.025;
}

button#PinkButton{
    background-color: RGB(255, 210, 215);
    color: black;
}

button#PinkButton:hover{
    background-color: RGB(255, 235, 238);
}

button#BlackButton{
    background-color: black;
    color: white;
    border: 1px solid white;
}

p.ArticleContent{
    color: white;
    font-size: 12px;
    text-shadow: 3px 3px 10px #333333;
    text-align: justify;
}

a.ArticleContent{
    color: white;
}

img#Monigote{
    width: 300px;
    height: 200px;
}

/* ======== Section 1 ======== */

section{
    background-color: RGB(18, 18, 18);
}

div.Section1Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

h2.Section1Content{
    font-size: 37px;
    margin: 0px;
    font-weight: bold;
}

h3.Section1Content{
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    color: white;
    text-shadow: 3px 3px 10px #333333;
    margin-top: 10px;
}

div.Section1Content{
    padding-top: 50px;
}

table{
    border-bottom: 1px solid white;
    /* Espacio entre las columnas */
    border-spacing: 0px;
}

th{
    color: white;
    text-align: left;
    line-height: 24px;
    width: 40%;
}

th.Column1{
    vertical-align: bottom;
    padding-bottom: 10px;
    padding-left: 10px;
}

th.Column2{
    padding-bottom: 40px;
    padding-left: 40px;
}

th.Column3{
    padding-bottom: 40px;
    padding-left: 10px;
}

td{
    color: white;
    border-top: 1px solid white;
    /* Decoracion del texto de las columnas */
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: white;
    /* Separación entre el subrayado y el texto */
    text-underline-offset: 4px;
    /* Separación entre las lineas del texto */
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

td.Column1{
    text-align: left;
    padding-left: 10px;
}

td.Column1:hover, td.Column2:hover{
    background-color: RGB(31, 31, 31);
}

td.Column3:hover{
    background-color: RGB(58, 58, 58);
}

img.RectLine{
    width: 45px;
    height: 25px;
}

img.Tick{
    width: 30px;
    height: 30px;
}

/* ======== Section 2 ======== */

div.Section2Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

h3.Section2Content{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.PaymentMethods{
    display: flex;
    align-items: stretch;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li.PaymentMethods{
    background-color: white;
    border-radius: 5px;
    margin: 4px;
    padding: 0px 4px;
}

img.PaymentMethods{
    width: 50px;
    padding-top: 4px;
}

img.PayPal{
    padding-top: 15px;
}

div.Section2Content{
    padding-top: 40px;
    display: flex;
    align-items: center;
}

h2.PremiumFeatures{
    text-align: center;
}

ul.PremiumFeatures{
    list-style-type: none;
}

li.PremiumFeatures{
    color: white;
}

li.PremiumFeatures::before{
    content: '✔';
    padding-right: 10px;
}